<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

<head>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="main-wrapper">

        <div class="container px-3 px-lg-5">

            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

                {{ partial "header.html" . }}

                <hr>

                {{ if .Site.Params.summary.enable }}
                {{ partial "summary.html" . }}
                {{ end }}

                <hr>

                <div class="resume-body">

                    <div class="row">

                        <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">

                            {{ if .Site.Params.experience.enable }}
                            {{ partial "experience.html" . }}
                            {{ end }}

                            {{ if .Site.Params.projects.enable }}
                            {{ partial "projects.html" . }}
                            {{ end }}

                            {{ if .Site.Params.information.enable }}
                            {{ partial "information.html" . }}
                            {{ end }}

                        </div><!--//resume-main-->

                        {{ partial "sidebar.html" . }}

                    </div><!--//row-->

                </div><!--//resume-body-->

                <hr>

                {{ if .Site.Params.social.enable }}
                {{ partial "social.html" . }}
                {{ end }}

            </article>

        </div><!--//container-->

        {{ partial "footer.html" . }}

    </div><!--//main-wrapper-->

    {{ partial "scripts.html" . }}

    <script>
    console.log(`%cPlease do not distribute this document in printed form and use only the link.\nThanks! 😊`,"font-size: 24px; color: #eb345e");
    var _0x4dcc=['debugger','constructor','length'];(function(_0x36150c,_0x4dcc98){var _0x20cb1e=function(_0xd016a4){while(--_0xd016a4){_0x36150c['push'](_0x36150c['shift']());}};_0x20cb1e(++_0x4dcc98);}(_0x4dcc,0x1e6));var _0x20cb=function(_0x36150c,_0x4dcc98){_0x36150c=_0x36150c-0x0;var _0x20cb1e=_0x4dcc[_0x36150c];return _0x20cb1e;};(function(){(function _0xd016a4(){try{(function _0x56f291(_0x3a63ed){var _0x551d59=_0x20cb;if((''+_0x3a63ed/_0x3a63ed)[_0x551d59('0x2')]!==0x1||_0x3a63ed%0x14===0x0)(function(){}[_0x551d59('0x1')](_0x551d59('0x0'))());else debugger;_0x56f291(++_0x3a63ed);}(0x0));}catch(_0x49c06a){setTimeout(_0xd016a4,0x1388);}}());}());
    </script>
</body>

</html>
